:root {
  /** colors */
  --primary-color: #33a;
  --primary-light-color: lightblue;
  --primary-text-color: white;
  --secondary-color: #fe3;
  --secondary-light-color: lightyellow;
  --secondary-text-color: black;
  /** fonts **/
  --header-font: Verdana, sans-serif;
  --large-font-size: 1.25rem;
  --big-font-size: 1.1rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.9rem;
  --tiny-font-size: 0.75rem;
  /** shadows **/
  --normal-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  --double-small-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3),  -1px -1px 1px rgba(255, 255, 255, 0.7);
  --double-small-shadow-active: inset 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px rgba(255, 255, 255, 0.7);
  /** borders **/
  --square-border-radius: 0px;
  --smooth-border-radius: 6px;
  --round-border-radius: 12px;
  --highly-round-border-radius: 15px;
  
  --thin-border: 1px;
  --normal-border: 2px;
  --thick-border: 3px;
  /** margins and paddings **/
  --margin-1: 0.25em;
  --margin-2: 0.5em;
  --margin-3: 1em;
  --margin-4: 2em;
}