:root {
  --primary-color: blue;
  --primary-light-color: lightblue;
  --primary-text-color: white;
  --secondary-color: yellow;
  --secondary-light-color: lightyellow;
  --secondary-text-color: black;
}